---
import Nav from '../components/Nav.astro'
import Hero from '../layouts/Hero.astro';
import PopularProducts from '../layouts/PopularProducts.astro';
import SuperQuality from '../layouts/SuperQuality.astro';
import Services from '../layouts/Services.astro';
import SpecialOffer from '../layouts/SpecialOffer.astro';
import CustomerReviews from '../layouts/CustomerReviews.astro';
import Subscribe from '../layouts/Subscribe.astro';
import Footer from '../layouts/Footer.astro';
---

<main class="relative">
	<Nav title="Nike Website" />
	<section class="xl:padding-1 wide:padding-r padding-b">
		<Hero />
	</section>
	<section class="padding">
		<PopularProducts />
	</section>
	<section class="padding">
		<SuperQuality />
	</section>
	<section class="padding-x py-10">
		<Services />
	</section>
	<section class="padding">
		<SpecialOffer />
	</section>
	<section class="bg-pale-blue padding">
		<CustomerReviews />
	</section>
	<section class="padding-x sm:py-32 py-16 w-full">
		<Subscribe />
	</section>
	<section class="bg-black padding-x padding-t pb-8">
		<Footer />
	</section>
</main>